*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a
{
    text-decoration: none;
    color: inherit;
}

body
{
    text-align: center;
    background-color: #222;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1
{
    margin-bottom: 25px;
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    color:white;
}

main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 25px;
    width: 50%;
    margin: 0 auto;
}

main div
{
    min-width: 250px;
    background-image: radial-gradient(lime 2%, green 97%);
    color: black;
    padding: 10px;
    border: 3px outset grey;
    box-shadow: 0 0 30px 5px black;
    border-radius: 25px;
    transition: 0.5s;
}

main div:hover
{
    transform: scale(1.1);
    box-shadow: 0 0 40px 10px black;
    cursor: pointer;
}

@media screen and (max-width: 750px) 
{
    h1
    {
        font-size: 25px;
    }
    main div
    {
        min-width: 125px;
        font-size: 12px;
    }
    
}
